<!-- <ion-header>
 
</ion-header>

<ion-content>
  <ion-list >
   <ion-list>
     <ion-item *ngFor="let key of users | async">
       <ion-item>
        <ion-avatar item-left>
          <img src="{{photoURL}}" (click)="sendRequest(key)">
        
        <h2>{{key.displayName}}</h2></ion-avatar>
       </ion-item>
     </ion-item>
   </ion-list>
 </ion-list>     
</ion-content> -->

<ion-content class="background-image">
<br>
            <div *ngFor="let key of users | async">
                <div *ngIf="key.uid != uid">
                    <ion-item>
                        <ion-avatar item-left>
                            <img src="{{key.photoURL}}" (click)="sendRequest(key)">
                        </ion-avatar> &nbsp;
                        <h3>{{key.displayName}}</h3>
                    </ion-item>
                </div>
            </div>
        
    
 </ion-content>
